<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technology_One_Technical_Test</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Technology_One_Technical_Test.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="container mt-4 bg-white rounded shadow mb-5">
        <nav class="navbar bg-white">
            <div class="container-fluid">
                <img src="sjb.png" alt="SJB Logo" class="img-fluid rounded" style="width: 175px;">
                <a class="navbar-brand lead" href="#">Sam Brown - Engineering Candidate - Technology One Technical Test</a>
                <img src="t1.png" alt="Technology One Logo" class="img-fluid rounded" style="width: 75px;">
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()
</body>
</html>
