@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to the 'Numbers to Words' web app.</h3>
    <br>
    <p class="lead">Please enter a number and click 'Convert' to see the number as an Australian Dollar amount in words.</p>
    <br>
    <form method="post">
        <div class="row justify-content-center">
            <input type="text" class="col-3 mx-4" placeholder="Enter value here" name="Input" asp-for="Input">

            <input type="radio" class="btn-check rounded col-1 mx-2" name="ConversionType" id="ConvertToNumber" value="Number" asp-for="ConversionType" checked>
            <label class="btn btn-outline-dark col-1 mx-2" for="ConvertToNumber">Convert to Number</label>

            <input type="radio" class="btn-check rounded col-1 mx-2" name="ConversionType" id="ConvertToDollar" value="Dollar" asp-for="ConversionType">
            <label class="btn btn-outline-dark col-1 mx-2" for="ConvertToDollar">Convert to Dollar</label>

            <button class="btn btn-warning rounded rounded-pill col-2 mx-3">Convert to String</button>

        </div>
    </form>
    <br>
    @if (Model.Output.Contains("Output: "))
    {
        <div class="container">
            <div class="alert alert-success" role="alert">
                <div class="row align-items-center">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg>
                    </div>
                    <div class="col-11">
                        <p class="lead">The @Model.ConversionType value was Successfully Converted to:</p>
                        <p class="lead">@Model.Output</p>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--If model output contains the words 'not a float' then display an error message-->
    @if (Model.Output.Contains("Input is not a decimal"))
    {
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <div class="row align-items-center">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                        </svg>
                    </div>
                    <div class="col-11">
                        <p class="lead">An Error was Encountered converting the @Model.ConversionType Value to Words:</p>
                        <p class="lead">@Model.Output</p>
                    </div>

                </div>
                
            </div>
        </div>
    }

</div>
