@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to the 'Numbers to Words' web app.</h3>
    <br>
    <p class="lead">Please enter a number and click 'Convert' to see the number as an Australian Dollar amount in words.</p>
    <br>
    <p class="lead">@Model.Test</p>
    <form method="post">
        <div class="row justify-content-center">
            <input type="text" class="col-3 mx-4" placeholder="Enter value here" name="Input" asp-for="Input">

            <input type="radio" class="btn-check rounded col-1 mx-2" name="ConversionType" id="ConvertToNumber" value="Number" asp-for="ConversionType" checked>
            <label class="btn btn-outline-dark col-1 mx-2" for="ConvertToNumber">Convert to Number</label>

            <input type="radio" class="btn-check rounded col-1 mx-2" name="ConversionType" id="ConvertToDollar" value="Dollar" asp-for="ConversionType">
            <label class="btn btn-outline-dark col-1 mx-2" for="ConvertToDollar">Convert to Dollar</label>

            <button class="btn btn-warning rounded rounded-pill col-2 mx-3">Convert to String</button>

        </div>
    </form>
    <br>
    <p class="lead">@Model.Output</p>
</div>
